<div id="page-content-wrapper">
  
  <!-- Keep all page content within the page-content inset div! -->
  <div class="page-content inset" >
    <div class="row">
      <div class="col-md-8"> 

<h1>Listing blogs</h1>

  <% @blogs.each do |blog| %>
  <h1><%= link_to blog.title, blog %></h1>
    <p class="lead">by <a href="#">Yaku</a></p>
    <hr>
    <p><span class="glyphicon glyphicon-time"></span><%= blog.created_at %></p>
    <hr>
    <img src="http://placehold.it/900x300" class="img-responsive">
    <hr>
    <p><%= blog.description %></p>
    <%= link_to raw("Read More<span class=\'glyphicon glyphicon-chevron-right\'></span>"), blog, :class => "btn btn-primary" %>             
    <hr>
  <% end %>

  <!-- <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.description %></td>
        <td><%= blog.image_url %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody> -->

<br>

      <ul class="pager">
        <li class="previous"><a href="#">&larr; Older</a></li>
        <li class="next"><a href="#">Newer &rarr;</a></li>
      </ul>

</div>
        
        <div class="col-lg-4">
          <div class="well">
            <h4>Blog Search</h4>
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /well -->
          <div class="well">
            <h4>Popular Blog Categories</h4>
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled">
                    <li><a href="#dinosaurs">Dinosaurs</a></li>
                    <li><a href="#spaceships">Spaceships</a></li>
                    <li><a href="#fried-foods">Fried Foods</a></li>
                    <li><a href="#wild-animals">Wild Animals</a></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled">
                    <li><a href="#alien-abductions">Alien Abductions</a></li>
                    <li><a href="#business-casual">Business Casual</a></li>
                    <li><a href="#robots">Robots</a></li>
                    <li><a href="#fireworks">Fireworks</a></li>
                  </ul>
                </div>
              </div>
          </div><!-- /well -->


      </div>
    </div>
  </div>
</div>
