
              <div class="col-lg-12">
          <h1 class="page-header">Jobs <small>It's Nice to Meet You!</small></h1>
          <p>This is a great place to start off with a short and sweet description of your company, organization, or whatever purpose your website is serving. Keep it friendly, engaging, but short enough to where you won't lose your reader!</p>
        </div>



      </div>

        
<br /><br />


<table class="table table-hover table-bordered">
  <thead>
    <tr class="job-header">
      <th>Job Title</th>
      <th>Shift</th>
      <th>Description</th>
      <% if session[:user_id] %>
        <th colspan="2">Admin Only</th>
      <% end %>
    </tr>
  </thead>

  <tbody data-link="row" class="rowlink">
    <% @jobs.each do |job| %>
      <tr>
        <td>
        <%= link_to job.title, job %>
        </td>
        <td><%= job.shift %></td>
        <td><%= raw job.description.truncate(20) %>
          <% if session[:user_id] %>
            <td class="rowlink-skip"><%= link_to 'Edit', edit_job_path(job), :class => 'btn btn-default' %></td>
            <td class="rowlink-skip"><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %></td>
          <% end %>
        </td>    
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:user_id] %>
<%= link_to 'New Job', new_job_path, :class => 'btn btn-primary' %>
<% end %>


 