<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @job.shift %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw(@job.description) %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

		