<div id="page-content-wrapper">
  
  <!-- Keep all page content within the page-content inset div! -->
  <div class="page-content inset" >
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

<h1>Listing reservations</h1>

<table>
  <thead>
    <tr>
      <th>People</th>
      <th>Date</th>
      <th>Time</th>
      <th>Name</th>
      <th>Phone number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.people %></td>
        <td><%= reservation.date %></td>
        <td><%= reservation.time %></td>
        <td><%= reservation.name %></td>
        <td><%= reservation.phone_number %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>

</div>
      
    </div>
  </div>
</div>


