<!-- blog entry -->
<% @posts.each do |post| %>
  <p style="font-size: 1.5em"><%= post.title %><small><br /><span class="glyphicon glyphicon-time"></span><%= post.created_at %>by Yaku</small></p>
  
  <% if session[:user_id] %>
    <p><%= link_to 'Edit', edit_post_path(post), :class => "btn btn-default" %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %>
    </p>
  <% end %>

  <hr>
  <%= link_to image_tag(post.image_url, :class => "img-responsive"), post %> 
  <hr>
  <p><%= post.description %></p>
  <br />
  <%= link_to post, :class => "btn btn-primary" do %>
    Read More<span class='glyphicon glyphicon-chevron-right'></span>
  <% end %>
            
  <hr>

<% end %>

          
<!-- pager -->
<%= will_paginate @products, renderer: BootstrapPagination::Rails %>


</div>
        
  <div class="col-lg-4">
    <div class="well">
      <h4>Blog Search</h4>
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /well -->
    <div class="well">
      <h4>Popular Blog Categories</h4>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#dinosaurs">Dinosaurs</a></li>
              <li><a href="#spaceships">Spaceships</a></li>
              <li><a href="#fried-foods">Fried Foods</a></li>
              <li><a href="#wild-animals">Wild Animals</a></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#alien-abductions">Alien Abductions</a></li>
              <li><a href="#business-casual">Business Casual</a></li>
              <li><a href="#robots">Robots</a></li>
              <li><a href="#fireworks">Fireworks</a></li>
            </ul>
          </div>
        </div>
    </div><!-- /well -->
    <div class="well">
      <h4>Side Widget Well</h4>
      <p>Bootstrap's default wells work great for side widgets! What is a widget anyways...?</p>
    </div><!-- /well -->
  </div>
</div>
      


<!-- 


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.image_url %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
 -->