<p id="notice"><%= notice %></p>

<p style="font-size: 1.5em"><%= @post.title %><small><br /><span class="glyphicon glyphicon-time"></span><%= @post.created_at %>by Yaku</small></p>

<!-- I got these buttons from simplesharebuttons.com -->
<div id="share-buttons">
	<!-- Facebook -->
	<a href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
	<!-- Twitter -->
	<a href="http://twitter.com/share?url=<%= request.original_url %>&text=<%= @post.title %>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
	<!-- Google+ -->
	<a href="https://plus.google.com/share?url=<%= request.original_url %>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>
	<!-- Pinterest -->
	<a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img src="http://www.simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" target="_blank" /></a>
</div>

<% if session[:user_id] %>
  <p><%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-default" %>
  </p>
<% end %>

<hr>
<%= image_tag(@post.image_url, :class => "img-responsive") %> 
<hr>
<p><%= @post.description %></p>

<hr>

<div id="fb-root"></div><fb:comments href="http://young-spire-4307.herokuapp.com" num_posts="10" width="500"></fb:comments>


</div>

<div class="col-lg-4">
    <div class="well">
      <h4>Blog Search</h4>
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /well -->
    <div class="well">
      <h4>Popular Blog Categories</h4>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#dinosaurs">Dinosaurs</a></li>
              <li><a href="#spaceships">Spaceships</a></li>
              <li><a href="#fried-foods">Fried Foods</a></li>
              <li><a href="#wild-animals">Wild Animals</a></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#alien-abductions">Alien Abductions</a></li>
              <li><a href="#business-casual">Business Casual</a></li>
              <li><a href="#robots">Robots</a></li>
              <li><a href="#fireworks">Fireworks</a></li>
            </ul>
          </div>
        </div>
    </div><!-- /well -->
    <div class="well">
      <p><%= @post.title %></p>
    </div><!-- /well -->
  </div>
</div>



<!-- <p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @post.image_url %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> -->
