<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/css/bootstrap-theme.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
  <link href="/stylesheets/jquery.timepicker.css" rel="stylesheet">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"></script>
  <script type="text/javascript" src="/javascripts/jquery.timepicker.js"></script>
  <script>
  $(function() {
    $( "#datepicker" ).datepicker({
      minDate: new Date(),
    });
  });
  </script>
  <script>
  $(function() {
    $('#timepicker').timepicker({
      minTime: "11am",
      maxTime: "10pm",
    });
  });
  </script>
  <script src="http://connect.facebook.net/en_US/all.js#appId=APP_ID&amp;xfbml=1"></script>
  <style type="text/css">

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

</style>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="cb-slideshow">
    <li><span>Image 01</span><div></div></li>
    <li><span>Image 02</span><div></div></li>
    <li><span>Image 03</span><div></div></li>
    <li><span>Image 04</span><div></div></li>
    <li><span>Image 05</span><div></div></li>
    <li><span>Image 06</span><div></div></li>
  </ul>

  <%= link_to (image_tag "/images/yaku_logo.png"), root_path, :id => "logo" %>

  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">       
          <li><%= link_to "Home", root_path  %></li>
          <li><a href="about">About Us</a></li>
          <li><a href="#">Menu</a></li>
          <li><%= link_to "Specials", specials_path  %></li>
          <li><a href="#">Media Coverage</a></li>
          <li><%= link_to "Blog", "#"  %></li> 
          <li><%= link_to "Jobs", jobs_path  %></li>          
      </ul>
      
      <div class="contact-info">
        <address>
        <strong>Yaku Japonské BBQ</strong><br>
        Petrske náměstí 1664/5, Praha 1 <br>
        110 00 Prague, Czech Republic
        <br>
        <abbr title="Phone">P:</abbr> +420 725 555 305
        </address>
        <p>
          <a href="https://www.facebook.com/YakuBbq"><i class="fa fa-facebook fa-2x"></i></a>
          <a href="http://4sq.com/W5ANBw"><i class="fa fa-foursquare fa-2x"></i></a>
          <i class="fa fa-pencil fa-2x"></i>
        </p>
      </div>
    </div>

      <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="fa fa-bars"></i></a>
      </h1>

      <% if session[:user_id] %>
      
        <nav class="navbar navbar-inverse" role="navigation" id="admin">
          <%= link_to 'Dashboard', admin_path, :class => "navbar-brand" %>
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?(posts_path) %>"><%= link_to 'Blog', posts_path %></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Customer Feedback</a></li>
          </ul>
          <p class="navbar-text navbar-right"><%= link_to 'Logout', logout_path, method: :delete, :class => "navbar-link" %></p>
        </nav>
      
      <% end %>

      <!-- Hide the reservation input form if the user is already on the new reservation page -->
        <section id="reservation"> 

        <!-- <input id="datepicker" type="text" /> -->
        <%= link_to "Grab a Table!", "https://www.facebook.com/YakuBbq/app_204622046354658", :class => "btn btn-success", :target => '_blank' %>
        
        </section>

    <div id="page-content-wrapper">
      <!-- Keep all page content within the page-content inset div! -->
      <div class="page-content inset" >
        <div class="row">
          <div class="col-md-8"> 

    <!-- Page content -->
  
          <%= yield %>

          </div>
        </div>
      </div>
    </div>
    
  </div>

	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <%= javascript_include_tag "application" %>
  <!-- Latest compiled and minified JavaScript -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script>
      $(function() {
          cbpBGSlideshow.init();
      });
  </script>
  <!-- sidebar toggle -->
  <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
  </script>
   <script>
    $('.ckeditor').ckeditor({
    // optional config
    });
  </script>
  <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
</body>
</html>
