<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <!-- Googlemap -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFjnkb_KV6FjLaUFnR0cBZX7qLw5j8Y_M&sensor=false"></script>
  <script type="text/javascript" src="http://www.map-generator.org/map/iframejs/df9ce65d-0adf-45f2-9e1b-337a4b2c8f27?key=AIzaSyBFjnkb_KV6FjLaUFnR0cBZX7qLw5j8Y_M&width=600px&height=400px"></script>

</head>
<body>

  <ul id="cbp-bislideshow" class="cbp-bislideshow">
    <li><img src="http://static.limeandtonic.com/images-cms/prague/deals/japanese-bbq_20130904120824/img_1_5.jpg" alt="image01"/></li>
    <li><img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc1/903868_351491844952108_101421651_o.jpg" alt="image02"/></li>
    <li><img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash2/476988_357668844334408_1419106020_o.jpg" alt="image03"/></li>
    <li><img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash3/1471770_427263784041580_1995483532_n.jpg" alt="image04"/></li>
    <li><img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash3/522118_351618308272795_401335572_n.jpg"/></li>
    <li><img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash3/553001_353021251465834_1223841724_n.jpg"/></li>
  </ul>

  <%= link_to (image_tag "/images/yaku_logo.png"), root_path, :id => "logo" %>

  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <div class="sidebar-text">
        <ul class="sidebar-nav">       
            <li><%= link_to "Home", root_path  %></li>
            <li><a href="about">About Us</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Specials</a></li>
            <li><a href="#">Media Coverage</a></li>
            <li><%= link_to "Location", location_path  %></li>
            <li><a href="#">Reservation</a></li>          
        </ul>
        
        <div class="contact-info">
          <address>
          <strong>Yaku Japonské BBQ</strong><br>
          Petrske náměstí 1664/5, Praha 1 <br>
          110 00 Prague, Czech Republic
          <br>
          <abbr title="Phone">P:</abbr> +420 725 555 305
          </address>
          <p>
            <i class="fa fa-facebook fa-2x"></i>
            <i class="fa fa-foursquare fa-2x"></i>
            <i class="fa fa-pencil fa-2x"></i>
          </p>
        </div>
      </div>
    </div>

      <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="fa fa-bars"></i></a>
      </h1>


    <!-- Page content -->
    
  
      <%= yield %>
    
  </div>

	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<%= javascript_include_tag "application" %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script>
      $(function() {
          cbpBGSlideshow.init();
      });
  </script>
  <!-- sidebar toggle -->
  <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
</body>
</html>
