<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
  <link href="/stylesheets/jquery.timepicker.css" rel="stylesheet">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"></script>
  <script type="text/javascript" src="/javascripts/jquery.timepicker.js"></script>
  <script>
  $(function() {
    $( "#datepicker" ).datepicker({
      minDate: new Date(),
    });
  });
  </script>
  <script>
  $(function() {
    $('#timepicker').timepicker({
      minTime: "11am",
      maxTime: "10pm",
    });
  });
  </script>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="cb-slideshow">
    <li><span>Image 01</span><div></div></li>
    <li><span>Image 02</span><div></div></li>
    <li><span>Image 03</span><div></div></li>
    <li><span>Image 04</span><div></div></li>
    <li><span>Image 05</span><div></div></li>
    <li><span>Image 06</span><div></div></li>
  </ul>

  <%= link_to (image_tag "/images/yaku_logo.png"), root_path, :id => "logo" %>

  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <div class="sidebar-text">
        <ul class="sidebar-nav">       
            <li><%= link_to "Home", root_path  %></li>
            <li><a href="about">About Us</a></li>
            <li><a href="#">Menu</a></li>
            <li><%= link_to "Specials", specials_path  %></li>
            <li><a href="#">Media Coverage</a></li>
            <li><a href="#">Reservation</a></li> 
            <li><%= link_to "Jobs", jobs_path  %></li>          
        </ul>
        
        <div class="contact-info">
          <address>
          <strong>Yaku Japonské BBQ</strong><br>
          Petrske náměstí 1664/5, Praha 1 <br>
          110 00 Prague, Czech Republic
          <br>
          <abbr title="Phone">P:</abbr> +420 725 555 305
          </address>
          <p>
            <i class="fa fa-facebook fa-2x"></i>
            <i class="fa fa-foursquare fa-2x"></i>
            <i class="fa fa-pencil fa-2x"></i>
          </p>
        </div>
      </div>
    </div>

      <h1>
        <a id="menu-toggle" href="#" class="btn btn-default"><i class="fa fa-bars"></i></a>
      </h1>

      <!-- Hide the reservation input form if the user is already on the new reservation page -->
      <% unless current_page?(new_reservation_path) %>
        <section id="reservation"> 

        <input id="datepicker" type="text" />
        <%= link_to "Grab a Table!", new_reservation_path, :method => :get , :type => "button", :class => "btn btn-success" %>
        
        </section>
      <% end %>

    <!-- Page content -->
  
    <%= yield %>
    
  </div>

	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <%= javascript_include_tag "application" %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script>
      $(function() {
          cbpBGSlideshow.init();
      });
  </script>
  <!-- sidebar toggle -->
  <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
  </script>
</body>
</html>
